.body {
    margin: 0 auto;
    width: 1440px;
    max-width: 1440px;
    min-width: 500px;
    padding: 0;
    height: 100%;
    background-color: #000000;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    background-position: top, center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
}
a {
    text-decoration: none;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1% 1fr 4fr 1fr;
    width: 1440px;
    margin-left: 12.5%;
}
.main-navigation {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    background-color: #ffffff;
    font-size: 15px;
    line-height: 24px;
    box-sizing: content-box;
    z-index: 5;
}
.logo {
    z-index: 5;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}
.nav-list {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
}
ul.nav-list li {
    padding: 3.2%;
    display: inline-block;
    z-index: 5;
}
ul.nav-list a {
    color: #484c55;
    z-index: 5;
}
ul.nav-list a:focus {
    color: #49cbcd;
    background: #515151;
    outline: none;
    border-bottom: 3px solid #49cbcd;
    z-index: 5;
}
#now-checked {
    background-color: rgb(248, 249, 251);
    padding: 37px 24px;
    border-bottom: 3px solid #49cbcd;
    z-index: 10;
}
ul.nav-list a:focus {
    color: #49cbcd;
    background: #515151;
    outline: none;
    border-bottom: 3px solid #49cbcd;
    z-index: 5;
}
.main-images {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
}
.main-images h2 {
    position: relative;
    left: 45%;
    bottom: 50%;
    
}
