body {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 920px;
    padding: 0;
    height: 100%;
    background-color: #000000;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    background-position: top, center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
}
a {
    text-decoration: none;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    grid-template-rows: minmax(92px, 1fr) minmax(50px, 1.7fr);
    background-color: #ffffff;
    font-size: 15px;
    line-height: 24px;
}
.logo {
    position: relative;
    z-index: 5;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    margin-left: 5%;
    left: 6%;
    bottom: 5%;
}
.nav-list {
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    margin-left: 20%;
    position: relative;
    left: 1%;
    top: 12%;
    height: 70%;
}
ul.nav-list li {
    padding-left: 7%;
    display: inline-block;
    z-index: 5;
    margin-bottom: -8%;
}
ul.nav-list a {
    color: #484c55;
    z-index: 5;
}
ul.nav-list a:focus {
    color: #49cbcd;
    background: #515151;
    outline: none;
    border-bottom: 3px solid #49cbcd;
    z-index: 5;
}
#now-checked {
    position: relative;
    background-color: rgb(248, 249, 251);
    padding: 120% 80% 120% 80%;
    border-bottom: 3px solid #49cbcd;
    z-index: 10;
    right: 50%;
}
ul.nav-list a:focus {
    color: #49cbcd;
    background: #515151;
    outline: none;
    border-bottom: 3px solid #49cbcd;
    z-index: 5;
}
.main-images {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    background-image: url("../img/main-image.jpg");
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    bottom: 3%;
}
.main-images h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 5%;
    color: #ffffff;
    font-size: 42px;
    font-weight: 600;
    justify-self: center;
    align-self: center;
}
.blog-body {
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
}
.blog-entry-1 {
    margin-left: 15%;
    margin-right: 5%;
}
.blog-entry-1 hr {
    border: none;
    background-color: #e9e9e9;
    height: 1px;
}
.blog-entry-1 a {
    color: #b49edd;
    font-size: 15px;
    margin-left: 2%;
}
.info-entry span {
    position: relative;
    padding-left: 1%;   
    font-size: 14px;
    bottom: 2px;
    margin-left: 1%;
}
.tags-in-entry a {
    margin: 0;
}
.blog-entry-main img {
    float: left;
    padding-right: 5%;
    padding-bottom: 3%;
}
.blog-entry-main p {
    font-size: 13px;
    line-height: 24px;
    margin-top: 5%;
}
.blog-entry-main h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    width: 90%;
}
#yacht {
    margin-top: 3%;
    margin-bottom: 3%;
}
blockquote {
    margin-top: 10%;
}
blockquote::before, blockquote::after {
    font-size: 48px;
    font-family: 'Noto Sans JP', sans-serif;
}
blockquote::before {
    content: "“";
    float: left;
}
blockquote::after {
    content: "”";
    float: right;
}
.whos-citate {
    position: relative;
    left: 88%;
    font-size: 14px;
}
.blog-entry-main cite {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.date-block {
    display: block;
    background-color: #49cbcd;
    width: 30px;
    color: #ffffff;
    font-size: 15px;
    padding: 15px 15px;
    text-align: center;
    border-radius: 3px;
    position: relative;
    right: 80px;
    top: 110px;
}
.date {
    font-size: 26px;
}
.sidebar {
    padding-top: 125px;
    padding-right: 134px;
}
#searchfield {
    width: 100%;
    height: 43px;
    border: 1px solid rgba(186, 186, 186, 0.5);
}
#searchfield::placeholder {
    color: rgba(186, 186, 186, 0.5);
}
.search-button {
    position: relative;
    bottom: 29px;
    left: 240px;
}
ul.social-networks li {
    display: inline-block;
    padding: 5px;
    position: relative;
    right: 45px;
}
#email {
    width: 100%;
    height: 43px;
    border: 1px solid rgba(186, 186, 186, 0.5);
}
#email::placeholder {
    color: rgba(186, 186, 186, 0.5);
}
.submit {
    background-color: #49cbcd;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 46px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
}
.social-networks-1 h2 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 55px;
}
.Categories h2 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 55px;
}
ul.categories-list li {
    list-style-type: none;
    font-size: 13px;
    line-height: 36px;
}
.categories-list span {
    font-family: 'Nanum Myeongjo', serif;
    color: #49cbcd;
    margin-left: -38px;
}
.categories-list a {
    padding-left: 17px;
    color: #414a5a;
}
.categories-list a:hover {
    margin-left: 0px;
    background-color: #485460;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
}
.categories-list span:hover {
    margin-left: 0px;
    background-color: #485460;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}
.popular-posts h2 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 55px;
}
.popular-posts p {
    font-size: 13px;
    line-height: 22px;
}
.other-time {
    font-size: 14px;
}
.popular-posts a {
    font-size: 14px;
    color: #b49edd;
    float: right;
}
.popular-posts span {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 10px;
}
.recent h2 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 55px;
}
.recent-post a {
    color: #414a5a;
    font-size: 14px;
    line-height: 36px;
}
ul.recent-post li {
    list-style-type: none;
    padding: 5px 0;
}
ul.recent-post li:before {
    color: #49cbcd;
    content: "•";
    font-size: 25px;
    padding-right: 17px;
    margin-left: -38px;
    position: relative;
    top: 4px;
}
.tags h2 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 55px;
}
.tags a {
    display: inline-flex;
    padding: 7px 15px;
    margin: 2px;
    background-color: #49cbcd;
    color: #ffffff;
    border-radius: 5px;
}
